<h2>About MyGallery</h2>
<h3>MyGallery is a website for artists/photographers that allows you to develop 
    your own webpage that's used for displaying and selling items. Visitors who 
    come across your page can flag up items they're interested in, if they do that 
    you'll recieve an email with the purchaser's contact details as well as the item(s)
    they flagged up. 
</h3>
<a href="/menu">Menu</a>