<form method="post" action="/items">
    {{#each items}}
        <p><label for="name_of_item">Input Name Of Item: </label><input type="text" name="name_of_item" /></p>
        <p><label for="desc_of_item">Item Description: </label><input type="text" name="desc_of_item" /></p>
		<p><label for="price">Price (GBP): </label><input type="number" name="price" /></p>
        <br>
        {{/each}}

	<input type="submit" value="submit form"/>
 </form>
