<h2>MyGallery</h2>
<form method="post" action="/user">
	<p><label for="username">Username: </label><input type="text" id="username" /></p>
	<p><label for="password">Password: </label><input type="password" id="password" /></p>
	<input type="hidden" name="formtype" value="login" />
	<input type="submit" value="login" onclick="user_input()"/>
</form>	

<br>
<a href = "/">Forgot Password</a>
<br>
<a href = "/register">Create Account</a>
<br>
<a href = "/about">About MyGallery</a>
