<h2>MyGallery</h2>
<form method="post" action="/menu">
	<p><label for="username">Username: </label><input type="text" name="username" /></p>
	<p><label for="password">Password: </label><input type="password" name="password" /></p>
	<input type="hidden" name="formtype" value="login" />
	<input type="submit" value="login"/>
</form>	

<br>
<a href = "/register">Create Account</a>
<br>
<a href = "/about">About MyGallery</a>
