<script src="user_input.js" type="text/javascript"></script>
<script src="eventListener.js" type="text/javascript"></script>
<p>Username: {{username}}</p>
<p>Password: {{password}}</p>
<p>User Data: {{user_input.userData}}</p>
