<h2>Webpage Creator</h2>

<form method="post" action="/webpage2">
	<!--Get title for the webpage and no. of items the user wants to add-->
	<p><label for="title">Title Of Webpage: </label><input type="text" name="title" /></p>
	<p><label for="no_of_items">Input Number Of Items: </label><input type="number" name="no_of_items" /></p>

	<!--Get the user's contact details-->
	<h2>Contact Details</h2>
	<p><label for="email">Email Address: </label><input type="email" name="email" /></p>
	<p><label for="contact_no">Contact No: </label><input type="number" name="contact_no" /></p>

	<input type="submit" value="submit form"/>
 </form>
 <br><br>
 <a href="/user">Welcome</a>