<div class="tc">
    <h2>About e-Tech</h2>
    <p>A learning system designed to increase the typical adult and youth’s knowledge<br>
    understanding concerning the advancement of processors and computation capabilities<br>
    of modern devices.</p>
    <a href="/">Menu</a>
</div>