<h2 class="tc">Welcome To e-Tech!</h2>
<script type="text/javascript">
    sessionStorage.setItem('status','notLoggedIn')
</script>
<div class="tc">
    <a href="/processors">Learn About Processors</a>
    <br>
    <a href="/moderndev">Learn About Modern Devices</a>
    <br>
    <a href="/quiz">Take A Quiz</a>
    <br>
    <a href="/">Menu</a>
</div>