<h2 class="tc">Hi {{user}}, Welcome To e-Tech!</h2>
<script type="text/javascript">
    sessionStorage.setItem('status','loggedIn')
    sessionStorage.setItem('username','{{user}}')
</script>
<div class="tc">
    <a href="/processors">Learn About Processors</a>
    <br>
    <a href="/moderndev">Learn About Modern Devices</a>
    <br>
    <a href="/quiz">Test Your Knowledge</a>
    <br>
    <a href="/progress">Track Your Progress</a>
    <br>
    <a href="/menu">Log Out</a>
</div>

